/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #C0C0C0;
    --secondary-color: #535d66;
}

/* BODY */
body {
    background-color: gray);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: black;
    background: linear-gradient(white, var(--primary-color));
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    justify-content: left;
    font-size: 36px;
}

header a {
    text-decoration: none;
    color:black;
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: right;
   list-style: none;
}

header nav ul li {
    margin: 5px 25px;
    font-size: 28px;

}
/* HERO */

.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.hero img {
    max-width: 25%;
    opacity: .9;
    border-radius: 10px;
}

.hero h2 {
    font-size: 48px;
    padding: 15px 20px;
    border-top: dashed 2px black;
    border-left: dashed 2px black;
}

/* ABOUT ME */

/* MY WORK */

/* CONTACT ME */
