/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #C0C0C0;
    --secondary-color: #535d66;
}

/* BODY */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color:black;
}

.section-title {
    font-size: 36px;
    margin: 25px;
}

/* HEADER */
header {
    background-color: black;
    background: linear-gradient(white, var(--primary-color));
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    justify-content: left;
    font-size: 40px;
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: right;
   list-style: none;
}

header nav ul li {
    margin: 5px 25px;
    font-size: 28px;

}
/* HERO */

.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.hero img {
    max-width: 25%;
    opacity: .9;
    border-radius: 50px;
    padding: 25px;
}

.hero h2 {
    font-size: 36px;
    padding: 15px 20px;
    border-top: dashed 2px black;
    border-left: dashed 2px black;
}

/* ABOUT ME */
.about-me {
    display: flex;
    margin: 25px;
    justify-content: flex-start;
    align-items: center;
}

.about-me h2 {
    width: 20%;
    text-align: right;
}

.about-me p {
    width: 75%;
    border-left: 2px solid black;
    padding: 25px;
    line-height: 1.5;
}

/* MY WORK */
.my-work {
    display: flex;
    margin: 25px;
    justify-content: flex-start;
    align-items: center;
}

.my-work h2 {
    width: 20%;
    text-align: right;
}

.my-work .grid-container {
    width: 75%;
    border-left: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 1fr; 
    padding: 25px;
    grid-gap: 5px;
}

.my-work .grid-item {
    padding: 25px;
    border: black 1px dotted;
    text-align: right;
}

.my-work .grid-item h3 h4 {
    background-color: white;
    display: flex;
}

.my-work .item-1 {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.my-work .item-2 {
    background-image: url(../images/vice-of-life.jpg);
    background-size: cover;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.my-work .item-3 {
    background-image: url(../images/placeholder.jpg);
    background-size: cover;
}

/* CONTACT ME */
.contact-me {
    display: flex;
    margin: 25px 0px;
    justify-content: flex-start;
    align-items: center;
}

.contact-me h2 {
    width: 20%;
    text-align: right;
}

.contact-me ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 75%;
    border-left: 2px solid black;
    font-size: 24px;
}